.outline-class{
    outline:1px solid orange;
}
.bring-down{
    margin-top:20px;
}

.move-left{

}

.card{
    width:100%;
}

@media(min-width:600px){
    /*.bring-left{
        margin-left: -30%;
    }*/


    .card{
        width:60%;
    }


}
